<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="trimble-agentic-external-nuget-local" value="https://artifactory.trimble.tools/artifactory/api/nuget/v3/trimble-agentic-external-nuget-local" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="NuGet">
      <package pattern="*" />
    </packageSource>
    <packageSource key="trimble-agentic-external-nuget-local">
      <package pattern="Trimble.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
